ul.inline {
  margin: 0;
  display: inline-block;
  li {
    display: inline-block;
  }
  &.pipe {
    li {
      &:after {
        content: '|';
        display: inline-block;
      }
      &:last-child:after {
        content: '';
      }
    }
  }
  &.comma {
    li {
      &:after {
        content: ',';
        display: inline-block;
        padding-right: 0.3em;
      }
      &:last-child:after {
        content: '';
      }
    }

  }
}

dl {
  dt {
    font-weight: bold;
    float: left;
    clear: left;
    padding-right: 0.3em;
    margin-bottom: 0.3em;
    &:after {
      content: ':';
    }
  }

  dd {
    display: block;
    margin-bottom: 0.3em; 
    float: none;
    clear: none;
  }
}

dl.tabled {
  display: flex;
  flex-flow: row wrap;

  dt {
    flex-basis: 20%;
    text-align: right;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
  }
}

.horizontal {
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));

  &:before,
  &:after {
    content: '';
    width: 10px;
  }
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }

  &.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.full {

  }
}