.maintenance-mode-alert {
    width: 100%;
    padding: .5em;
    background-color: #FF130F;
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
	strong {
    	font-weight: bold;
	}
	time {
	    opacity: 0.7;
	    font-size: .8em;
	    padding-top: .1em;
	    float: right;
	}
}
