.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display: none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}

@include breakpoint(medium) {
	.top-bar {
		position: sticky;
		top: 0;
		z-index: 1;
	
		> .grid-container {
			width: 100%;
			display: flex;
		}
	}

}

.top-bar {
	color: $white;

	.dropdown {
		a {
			color: $topbar-link-color;
			&:hover, &:active, &:focus {
				color: lighten(get-color(primary), 20%);
			}
		}
		.active > a {
			color: get-color(primary);
		}
	}
}

footer.callout.secondary {
	background: $black;
	color: $white;
}