.pagination-pointed {
  .pagination-pointed-button {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: $pagination-radius;
    background-color: $pagination-primary-color;
    color: $white;
    outline: 0;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
      background-color: lighten($pagination-primary-color, 10%);
    }
  }

  .current {
    @extend .pagination-pointed-button;
    background: lighten($pagination-primary-color, 20%);

    &:hover {
      background-color: $pagination-primary-color;
    }
  }

  .pagination-next a {
    @extend .pagination-pointed-button;
    border-radius: $pagination-radius;
    margin-right: 17px;

    &:hover::after {
      border-left: 17px solid lighten($pagination-primary-color, 10%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -17px;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 17px solid $pagination-primary-color;
      transition: all 0.2s linear;
    }
  }

  .pagination-previous a {
    @extend .pagination-pointed-button;
    border-radius: $pagination-radius;
    margin-left: 17px;

    &:hover::after {
      border-right: 17px solid lighten($pagination-primary-color, 10%);
    }

    &::before {
      content: ""; //removes the arrow
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -17px;
      width: 0;
      height: 0;
      border-bottom: 17px solid transparent;
      border-top: 17px solid transparent;
      border-right: 17px solid $pagination-primary-color;
      transition: all 0.2s linear;
    }
  }
}

// @include breakpoint(small only) {
//   .pagination:after {
//     display: inline-block;
//     content: attr(data-page) ' of ' attr(data-total);
//     position: relative;
//     text-align: center;
//     width: $pagination-page-number-width;
//     right: $pagination-page-number-width;
//   }

//   .pagination-next {
//     position: relative;
//     left: $pagination-page-number-width;
//   }
// }
