
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import '~jquery-ui/themes/base/all.css';

// Variables
@import "settings";

// Bootstrap
@import "foundation";
@include foundation-flex-classes;
@include foundation-flex-grid;

:root {
  /* Not my favorite that line-height has to be united, but needed */
  --lh: 1.4rem;
}

html {
  line-height: var(--lh);
}
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import 'maintenancemode';
@import 'truncate';
@import 'lists';
@import 'navigation';
@import 'pagination';
@import 'foundation-icons.css';

.card-cover {
	overflow: hidden;
	display: block;
	height: 10em;

	img {
		object-fit: cover;
		min-width: 100%;
	}
}

.embed-container {
	position: relative; 
	padding-bottom: 56.25%; /* ratio 16x9 */
	height: 0; 
	overflow: hidden; 
	width: 100%;
	height: auto;

	iframe, img, a {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;   	
	}

	&.ratio4x3 {
		padding-bottom: 75%;
	}
}

iframe {
	border: none;
	padding: 0;
} 

.slick-prev {
	left: 1rem;
	z-index: 2;
}
.slick-next {
	right: 1rem;
	z-index: 2;
}

.reveal {
	&.fullscreen {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, .5);
	
		& > .slick-slider {
			height: 100vh;
	
			.slick-list {
				height: 100% !important;
			}
		
			.slick-track {
				height: 100% !important;
			}

			.slick-slide {
				height: 90% !important;
				position: relative;
				margin: 5%;

				& > div {
					display: block;
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				}
			}
		}

	}
}

.video-preview-link {
	position: relative;

	img, span {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		margin: auto
	}
	span {
		height: 1.5em;
		text-align: center;
		font: 48px/1.5 sans-serif;
		color: white;
		text-shadow: 0 0 0.5em black
	}
}