<div class="orbit" role="region" aria-label="{{$header}}" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">@lang('gallery.previous_image')</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">@lang('gallery.next_image')</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
    @foreach ($images as $image)
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{ $image->getUrl() }}" alt="">
          <figcaption class="orbit-caption">{{ $image->name }}</figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">@lang('gallery.first_image_details')</span><span class="show-for-sr">@lang('gallery.current_image')</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>